<div class="card" style="margin-bottom: 10px">
  <div *ngIf="!hidden" class="card-body">
    <div i18n *ngIf="!following">
      <button
        (click)='follow()'
        class="btn btn-primary" type="button">
        Follow
      </button>
    </div>
    <div i18n *ngIf="following">
      <button
        (click)='unfollow()'
        class="btn btn-outline-secondary" type="button">
        Unfollow
      </button>
    </div>
  </div>
  <div i18n *ngIf="hidden" class="card-body">
    <a [routerLink]="['/login']">
      <button
        class="btn btn-outline-secondary" type="button">
        Login
      </button>
    </a>
  </div>
</div>
