<div class="card" style="padding-bottom: 10px">
  <h5 style="padding: 10px">Following  : {{ followingAmount }}</h5>
  <div *ngFor="let follow of following">
    <div class="row no-gutters">
      <div class="col-auto">
        <img [src]="follow?.picture"
             alt="profile image"
             style="border: lightgrey 1px solid; object-fit: cover; width: 36px;  height: 36px;">
      </div>
      <div class="card-block px-2" style="margin-top: 3px">
        <p class="card-text"><a [routerLink]="['/profile', follow?.username]">{{follow?.username}}</a>
      </div>
    </div>
  </div>

  <h5 style="padding: 10px">Followers : {{ followerAmount }}</h5>
  <div *ngFor="let follower of followers">
    <div class="row no-gutters">
      <div class="col-auto">
        <img [src]="follower?.picture"
             alt="profile image"
             style="border: lightgrey 1px solid; object-fit: cover; width: 36px;  height: 36px;">
      </div>
      <div class="card-block px-2" style="margin-top: 3px">
        <p class="card-text"><a [routerLink]="['/profile', follower?.username]">{{follower?.username}}</a>
      </div>
    </div>
  </div>

</div>


