
<div *ngFor="let tweet of tweets" class="card base-margin-top">
    <div class="row no-gutters">
    <div class="col-auto">
      <img [src]="tweet?.account?.picture"
           alt="profile image" class="avatar">
    </div>
    <div class="col">
      <div class="card-block px-2">
        <p class="card-text"><strong>{{tweet?.account?.username}} </strong> |
          {{tweet?.date | datex:'MMM Do' }}</p>
        <p class="card-text">{{tweet?.message}}</p>
      </div>
    </div>
  </div>
</div>
