/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
    ),
    url('assets/img/background.png') repeat !important;
}

.base-margin-top {
  margin-top: 25px;
}

.btn-icon {
  position: relative;
  top: 4px;
}

a {
  text-decoration: none !important;
}
