.layout {

}

.layout-grid {
  align-content: flex-start;
  align-items: flex-start;
  child-align: top;
  text-align: left;
  background: aqua;
  align-self: flex-start;
}

.padding-0 {
  padding: 0px;
  margin: 5px;
}
